<!DOCTYPE html>
<html ng-app="todo">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-controller="MainController">
    <div class="input">
      <input type="text" ng-model="item" placeholder="Enter item..." />
      <button ng-click="addItem(item)">Add item</button>
    </div>

    <div class="title">
      <h1>To-do</h1>
    </div>
    <div class="items" ng-repeat="item in items track by $index">
      <div class="item">
        <input type="checkbox" id="item{{$index}}"/>
        <label for="item{{$index}}" ng-class="{'': !isActive, 'active': isActive}" >{{item}}</label>
      </div>
    </div>
  </body>
</html>
