@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  background: #EEE;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  padding-top: 100px;
}
.checked {
  text-decoration: line-through;
}

.items {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  color: #333;
  padding: 20px;
}

.items:nth-child(odd) {
  background: #FaFaFa;
}

.input {
  width: 100%;
  height: 80px;
  background: #000;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
}

.title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  color: #333;

}

.remove {
  display: flex;
  justify-content: center;
}

/* Buttons */
button {
  outline: none;
  background: teal;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  margin: 15px 5px 0px 5px;
  transition: background 0.2s ease-in;
}

button:hover {
  background: #07AA9E;
}

input[type="submit"] {
  outline: none;
  background: teal;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  margin: 15px 5px 0px 5px;
  transition: background 0.2s ease-in;
}

input[type="submit"]:hover {
  background: #07AA9E;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Form Elements */
input[type="text"] {
  outline: none;
  background: #444;
  height: 30px;
  width: calc(100% - 119px);
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin: 15px 5px 0px 5px;
  font-size: 16px;
  transition: background 0.2s ease-in, border-color 0.2s ease-in, color 0.2s ease-in;
  border-color: #333;
  color: #CCC;
}

input[type="text"]:focus {
  background: #555;
  border: 3px solid teal;
  margin: 12px 2px 0px 2px;
  color: #EEE;
}

form {
  display: flex;
  width: 100%;
}
